engine-strict=true
auto-install-peers = true
always-auth=true

registry=https://registry.npmjs.org/
@justanarthur:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
